body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(245, 223, 195);
}

#header {
    background-color: blue;
    margin: 50px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 5px 10px rgb(94, 94, 243);
}

.header {
    text-align: center;
    color: white;
}

.header li {
    list-style-type: none;
    display:inline-flex
}

a {
    color: white;
    text-decoration-line: none;
}

a:hover {
    text-decoration-line: underline;
}

.info {
    display: flex;
    border-bottom: 2px solid black;
    align-content: center;
    margin: 50px;
}

.sub-info {
    margin: 50px;
    max-width: 33%;
}

.skills .hobbies {
    min-width: 30%;
    align-content: flex-start;
}

.work .add-skills {
    min-width: 70%;
    align-content: flex-end
}

#work #add-skills {
    min-width: 100%
}

#footer {
    margin: 50px;
}

#footer-title {
    text-align: center;
}

#refs {
    display: flex;
    align-content: center;
}

.ref {
    width: 50%;
}

.left {
    float: left;
}

.right {
    float: right;
}